#ppg_meta_box{
    background-color:#C8D6EE;
}
#ppg_meta_box #ppgPreview .thumbnail img{
    width:100%;
    height: auto;
    position: absolute;
    top:0;
    left:0;
}
#ppg_meta_box #ppgPreview .thumbnail:nth-child(2+1){
    margin-right:0px;
}
#ppg_meta_box #ppgPreview .thumbnail{
    float: left;
    margin-right:4px;
    margin-bottom: 4px;
    position:relative;
    width: 80px;
    height: 80px;
}
#ppg_meta_box .delete-btn {
    background-color: rgba(255,255,255,0.4);
    bottom:0;
    cursor: pointer;
    color:#f00;
    position: absolute;
    text-align: center;
    transition: all .5s ease-in-out;
    width: 100%;
}
#ppg_meta_box .delete-btn:hover {
    transition: all .5s ease-in-out;
    background-color: rgba(255,0,0,0.8);
    color:#fff;
}
#ppg_meta_box .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
#ppg_meta_box .clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html #ppg_meta_box .clearfix { height: 1%; }
#ppg_meta_box .clearfix { display: block; }
/* close commented backslash hack */

#ppg_admin_page label {
    margin-right: 10px;
}
#ppg_admin_page .custom-radio {
    float: left;
    margin-right: 10px;
    position: relative;
    width: 40px;
    height: 60px;
    display: block;
    cursor: pointer;
}
#ppg_admin_page .custom-radio .radio-icon {
    position: absolute;
    top: 0;
    left: 0;
    width:40px;
    height:40px;
    background: transparent url('../img/grid-slider.jpg') no-repeat 0 0;
}
#ppg_admin_page .custom-radio .radio-icon.slider{
    background-position: -40px 0;
}
#ppg_admin_page .custom-radio.active .radio-icon.slider{
    background-position: -40px -40px;
}
#ppg_admin_page .custom-radio.active .radio-icon.grid{
    background-position: 0px -40px;
}
#ppg_admin_page .custom-radio span {
    position: absolute;
    bottom: 0;
    width: 40px;
    text-align: center;
}

#ppg_admin_page span[data-toggle=tooltip]{
  cursor: help;
}

/*custom bootstrap*/
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
#ppg_admin_page .nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
#ppg_admin_page .nav > li {
  position: relative;
  display: block;
}
#ppg_admin_page .nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}
#ppg_admin_page .nav > li > a:hover,
#ppg_admin_page .nav > li > a:focus {
  text-decoration: none;
  /*background-color: #eeeeee;*/
}
#ppg_admin_page .nav > li.disabled > a {
  color: #999999;
}
#ppg_admin_page .nav > li.disabled > a:hover,
#ppg_admin_page .nav > li.disabled > a:focus {
  color: #999999;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
#ppg_admin_page .nav .open > a,
#ppg_admin_page .nav .open > a:hover,
#ppg_admin_page .nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #428bca;
}
#ppg_admin_page .nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
#ppg_admin_page .nav > li > a > img {
  max-width: none;
}
#ppg_admin_page .nav-tabs {
  border-bottom: 1px solid #dddddd;
}
#ppg_admin_page .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
#ppg_admin_page .nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
#ppg_admin_page .nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
#ppg_admin_page .nav-tabs > li.active > a,
#ppg_admin_page .nav-tabs > li.active > a:hover,
#ppg_admin_page .nav-tabs > li.active > a:focus {
  color: #555555;
  /*background-color: #ffffff;*/
  border: 1px solid #dddddd;
  border-bottom-color: #f1f1f1;
  cursor: default;
}
#ppg_admin_page .tab-content > .tab-pane {
  display: none;
}
#ppg_admin_page .tab-content > .active {
  display: block;
}
#ppg_admin_page .tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  visibility: visible;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
}
#ppg_admin_page .tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
#ppg_admin_page .tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
#ppg_admin_page .tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
#ppg_admin_page .tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
#ppg_admin_page .tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
#ppg_admin_page .tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  border-radius: 4px;
}
#ppg_admin_page .tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
#ppg_admin_page .tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
#ppg_admin_page .tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
#ppg_admin_page .tooltip.top-right .tooltip-arrow {
  bottom: 0;
  right: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
#ppg_admin_page .tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000;
}
#ppg_admin_page .tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
}
#ppg_admin_page .tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
#ppg_admin_page .tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
#ppg_admin_page .tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.clearfix:before,
.clearfix:after,
#ppg_admin_page .nav:before,
#ppg_admin_page .nav:after {
  content: " ";
  display: table;
}
.clearfix:after,
#ppg_admin_page .nav:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
}
