.per-post-gallery ul{
    list-style: none outside none;
    padding-left: 0;
}
.per-post-gallery .gallery li {
    display: block;
    float: left;
    height: 100px;
    margin-bottom: 6px;
    margin-right: 6px;
    width: 100px;
}
.per-post-gallery .gallery li a {
    height: 100px;
    width: 100px;
}
.per-post-gallery .gallery li a img {
    max-width: 100px;
}